.style_diary {
	margin: 100px auto 50px auto;
	width: 675px
}

.style_diary div.title {
	position: relative
}

.style_diary section.month {
	margin-top: 30px;
	margin-bottom: 50px
}

.style_diary section.month div.month-title {
	margin-top: 35px;
	margin-bottom: 20px
}

.style_diary section.month div.month-title h1 {
	font-size: 28px;
	letter-spacing: 4px;
	color: #333
}

.style_diary section.month div.days {
	margin-left: 60px;
	padding-left: 40px;
	padding-bottom: 30px;
	border-left: 4px solid #e8e8e8
}

.style_diary section.month div.days div.day {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e8e8e8
}

.style_diary section.month div.days div.day div.circle {
	width: 8px;
	height: 8px;
	border: 4px solid #e8e8e8;
	border-radius: 8px;
	position: absolute;
	left: -50px;
	top: 42px;
	background-color: #fff
}

.style_diary section.month div.days div.day span.day-counter {
	color: #333;
	font-size: 22px;
	font-weight: 600;
	margin: 0 0 0 0;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #555;
	position: absolute;
	left: -115px;
	top: 35px;
	width: 40px;
	text-align: right
}

.style_diary div.calendar:hover>ul>li {
    color: #444
}

.style_diary div.calendar:hover>ul>li a {
    color: #444
}

.style_diary div.calendar:hover>ul>li>ul {
    max-height: 55vh;
    opacity: 1;
    -webkit-transition: opacity 0.25s 0.25s, max-height 0.25s, margin 0.25s;
    -moz-transition: opacity 0.25s 0.25s, max-height 0.25s, margin 0.25s;
    -ms-transition: opacity 0.25s 0.25s, max-height 0.25s, margin 0.25s;
    -o-transition: opacity 0.25s 0.25s, max-height 0.25s, margin 0.25s;
    transition: opacity 0.25s 0.25s, max-height 0.25s, margin 0.25s;
    margin: 3px 0 12px 0
}

.style_diary div.calendar:hover>ul>li>ul>li {
    color: #888
}

.style_diary div.calendar:hover>ul>li>ul>li a {
    color: #888
}

.style_diary div.calendar:hover>ul>li>ul>li:hover {
    color: #444
}

.style_diary div.calendar:hover>ul>li>ul>li:hover a {
    color: #444
}

.style_diary div.calendar:hover>ul>li>ul>li.important:hover a {
    color: #b40000
}

.style_diary div.calendar {
    position: fixed;
    width: 150px;
    right: 80vw;
    top: 110px;
    padding-right: 20px;
    border-right: 2px solid #eee;
    text-align: right;
    overflow-y: scroll;
    max-height: 70vh
}

.style_diary div.calendar ul {
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 0
}

.style_diary div.calendar ul li {
    padding: 0
}

.style_diary div.calendar ul li a:link,
.style_diary div.calendar ul li a:visited,
.style_diary div.calendar ul li a:hover,
.style_diary div.calendar ul li a:active {
    text-decoration: none
}

.style_diary div.calendar>ul {
    margin: 3px 0
}

.style_diary div.calendar>ul>li {
    font-size: 16px;
    margin: 5px 0;
    color: #aaa;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s
}

.style_diary div.calendar>ul>li a {
    color: #aaa
}

.style_diary div.calendar>ul>li>ul {
    -webkit-transition: opacity 0.25s, max-height 0.25s 0.25s, margin 0.25s 0.25s;
    -moz-transition: opacity 0.25s, max-height 0.25s 0.25s, margin 0.25s 0.25s;
    -ms-transition: opacity 0.25s, max-height 0.25s 0.25s, margin 0.25s 0.25s;
    -o-transition: opacity 0.25s, max-height 0.25s 0.25s, margin 0.25s 0.25s;
    transition: opacity 0.25s, max-height 0.25s 0.25s, margin 0.25s 0.25s;
    margin: 3px 0;
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.style_diary div.calendar>ul>li>ul>li {
    display: inline-block;
    font-size: 13px;
    color: #888;
    margin-left: 6px;
    min-width: 20px;
    line-height: 1.375
}

.style_diary div.calendar>ul>li>ul>li a {
    color: #888
}

.style_diary div.calendar>ul>li>ul>li.important a {
    color: rgba(180, 0, 0, 0.6)
}

@media (max-width: 1279px) {
    .style_diary div.calendar {
        right: 77.5vw
    }
}

@media (max-width: 1023px) {
    .style_diary div.calendar {
        display: none
    }
}